{% extends '_base.html' %}

{% block title %}
Actualizar un producto
{% endblock title %}

{% block content %}
<a href="{% url 'Registrar_producto' %}" class="btn btn-info">Registrar Nuevo Producto</a>
<a href="{% url 'Historial_productos' %}" class="btn btn-info">Ver historial inventario</a>
<a href="{% url 'SolicitarTransferencia' %}" class="btn btn-info">Solicitudes de transferencias</a>
<div class="container text-center pt-5">
    <h1>Actualizar Inventario</h1>
    <div class='jumbotron'>
      <center>
        <div class="text-left" style="max-width:500px">
          <form action="{% url 'Actualizar_Inventario' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class='form-group'>
              <label for="{{ field.name }}">{{ field.label }}</label>
              {{ field }}
            </div>
            {% endfor %}
            <br>
            <center><button type="submit" class="btn btn-success btn-lg">Actualizar Inventario</button></center>
          </form>
        </div>
      </center>
    </div>
  </div>
 
  {% endblock content %}