{% extends '_base.html' %}

{% block title %}
Historial de cambios inventario
{% endblock title %}

{% block content %}

    {% for cambio in cambios %}
    <div class="container text-center pt-5"></div>
    <div class='jumbotron'>
        <center>
            <p>Nombre del producto: {{cambio.producto}}</p>
            <p>Cantidad Antigua en inventario:{{cambio.cantidad_antigua}}</p>
            <p>Cantidad nueva en inventario:{{cambio.cantidad_nueva}}</p>
            <p>Motivo del cambio:{{cambio.motivo}}</p>
            <p>Bodeguero que realizo el cambio:{{cambio.bodeguero}}</p>
            <p>Fecha del cambio:{{cambio.fecha}}</p>
        </center>
    </div>
    </div>
        <hr><hr>
    {% endfor %}

    <a href="{% url 'Actualizar_Inventario'  %}" class="btn btn-primary">Regresar</a>
{% endblock content %}