{% extends '_base.html' %}
<!-- ### SOLO EL USUARIO VENDEDOR PUEDE ACCEDER A ESTA PAGINAA-- >
{% block title %}
Crear venta
{% endblock title %}

{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>    
{% endif %}

Vendedor: {{user.username}}<br><br>
<a href="../admin/gestionVentas/venta/" class="btn btn-info">Ver ordenes de venta</a>
<a href="../MostrarReportes" class="btn btn-info">Reporte</a>
<a href="../admin/cliente/cliente/" class="btn btn-info">Agregar Clientes</a>
<div class="container">

    <div class="row justify-content-center">
      <div class="col-4">
        <div class="container text-center pt-5">
          
          <div class='jumbotron'>
          <h1>Datos de la venta</h1>
            <center>
              <div class="text-left" style="max-width:500px">
                <form action="{% url 'Crear_venta' %}" method="post">
                  {% csrf_token %}
                  {% for field in form %}
                  <div class='form-group'>
                    <label for="{{ field.name }}">{{ field.label }}</label>
                    {{ field }}
                  </div>
                  {% endfor %}
                  <br>
                  <center><button type="submit" class="btn btn-success btn-lg">Registrar orden</button></center>
                </form>
              </div>
            </center>
          </div>
        </div>
      </div> <!-- fin -->
      <div class="col-4">
        <div class="container text-center pt-5">
          
          <div class='jumbotron'>
          <h1>Agregar Producto</h1>
            <center>
              <div class="text-left" style="max-width:500px">
                <form action="{% url 'Crear_venta' %}" method="post">
                  {% csrf_token %}
                  {% for field in form2 %}
                  <div class='form-group'>
                    <label for="{{ field.name }}">{{ field.label }}</label>
                    {{ field }}
                  </div>
                  {% endfor %}
                  <br>
                  <center><button type="submit" class="btn btn-success btn-lg">Agregar Producto</button></center>
                   <div class='text-left'>
                  
                  </div>
                </form>
              </div>
            </center>
          </div>
        </div>
      </div> <!---sdf-->
       <div class="col-4">
        <div class="container text-center pt-5">
          
          <div class='jumbotron'>
          <h1>Ver detalle</h1>
            <center>
              <div class="text-left" style="max-width:500px">
                <form action="{% url 'Crear_venta' %}" method="post">
                  {% csrf_token %}
                  {% for field in form4 %}
                  <div class='form-group'>
                    <label for="{{ field.name }}">{{ field.label }}</label>
                    {{ field }}
                  </div>
                  {% endfor %}
                  <br>
                  <center><button type="submit" class="btn btn-success btn-lg">Ver detalle</button></center>
                  
                </form>
              </div>
            </center>
          </div>
        </div>
      </div> <!---sdf-->
      
    </div>
  </div>
  {% endblock content %}